.skill-set li:hover {
    background: #3498db; /* Change the background color on hover */
    color: #fff; /* Change the text color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}
.skill-set li
{
	background:rgba(0,0,0,.75);
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	list-style:none;
	margin:15px 15px 0 0;
	padding:10px;
	text-align:justify;
}