.contact-set li {
    background: rgba(213, 207, 125, 0.75);
    border-radius: 4px;
    color: #FFF;
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 50px;
    padding: 10px;
  
    line-height: 1; /* Reducem înălțimea liniei textului */
}

.contact-set li:hover {
    background: #9fc2d8;
    color: #160505;
    cursor: grab;
}
