.contact-set li {
    background: rgba(97, 96, 73, 0.75);
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    list-style: none;
    margin-left: -30px;
    margin-bottom: 10px;
    height: 50px;
    padding: 10px;
  
    line-height: 1; /* Reducem înălțimea liniei textului */
}

.contact-set li:hover {
    background: #9fc2d8;
    color: #160505;
    cursor: grab;
}
#showMe {
    animation: cssAnimation 0s 5s forwards;
    visibility: hidden;
  }
  
  @keyframes cssAnimation {
    to   { visibility: visible; }
  }